GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD={{ lookup('google.cloud.gcp_secret_manager', key=penpot_secret_ids.grafana_password, project=penpot_gcp_project, auth_kind='serviceaccount', service_account_file=lookup('env','GOOGLE_APPLICATION_CREDENTIALS')) }}
GF_SERVER_ROOT_URL=https://{{ grafana_domain }}
GF_SERVER_DOMAIN={{ grafana_domain }}

# SMTP Configuration
GF_SMTP_ENABLED=true
GF_SMTP_HOST={{ lookup('google.cloud.gcp_secret_manager', key=penpot_secret_ids.smtp_host, project=penpot_gcp_project, auth_kind='serviceaccount', service_account_file=lookup('env','GOOGLE_APPLICATION_CREDENTIALS')) }}:{{ penpot_smtp_port }}
GF_SMTP_USER={{ lookup('google.cloud.gcp_secret_manager', key=penpot_secret_ids.smtp_username, project=penpot_gcp_project, auth_kind='serviceaccount', service_account_file=lookup('env','GOOGLE_APPLICATION_CREDENTIALS')) }}
GF_SMTP_PASSWORD={{ lookup('google.cloud.gcp_secret_manager', key=penpot_secret_ids.smtp_password, project=penpot_gcp_project, auth_kind='serviceaccount', service_account_file=lookup('env','GOOGLE_APPLICATION_CREDENTIALS')) }}
GF_SMTP_FROM_ADDRESS=monitoring@pen-pot.com
GF_SMTP_FROM_NAME=Grafana Monitoring
GF_SMTP_SKIP_VERIFY=false
