PENPOT_FLAGS={{ penpot_flags }}
PENPOT_HTTP_SERVER_MAX_BODY_SIZE={{ penpot_http_body_size }}
PENPOT_HTTP_SERVER_MAX_MULTIPART_BODY_SIZE={{ penpot_http_multipart_size }}

PENPOT_PUBLIC_URI={{ penpot_public_uri }}
PENPOT_SECRET_KEY={{ lookup('google.cloud.gcp_secret_manager', key=penpot_secret_ids.secret_key, project=penpot_gcp_project, auth_kind='serviceaccount', service_account_file=lookup('env','GOOGLE_APPLICATION_CREDENTIALS')) }}

PENPOT_REDIS_URI={{ penpot_redis_uri }}

PENPOT_DATABASE_URI={{ penpot_database_uri }}
PENPOT_DATABASE_USERNAME={{ lookup('google.cloud.gcp_secret_manager', key=penpot_secret_ids.db_user, project=penpot_gcp_project, auth_kind='serviceaccount', service_account_file=lookup('env','GOOGLE_APPLICATION_CREDENTIALS')) }}
PENPOT_DATABASE_PASSWORD={{ lookup('google.cloud.gcp_secret_manager', key=penpot_secret_ids.db_password, project=penpot_gcp_project, auth_kind='serviceaccount', service_account_file=lookup('env','GOOGLE_APPLICATION_CREDENTIALS')) }}

PENPOT_TELEMETRY_ENABLED={{ penpot_telemetry_enabled | lower }}
PENPOT_TELEMETRY_REFERER={{ penpot_telemetry_referer }}

PENPOT_SMTP_DEFAULT_FROM={{ penpot_smtp_default_from }}
PENPOT_SMTP_DEFAULT_REPLY_TO={{ penpot_smtp_default_reply_to }}
PENPOT_SMTP_HOST={{ lookup('google.cloud.gcp_secret_manager', key=penpot_secret_ids.smtp_host, project=penpot_gcp_project, auth_kind='serviceaccount', service_account_file=lookup('env','GOOGLE_APPLICATION_CREDENTIALS')) }}
PENPOT_SMTP_PORT={{ penpot_smtp_port }}
PENPOT_SMTP_USERNAME={{ lookup('google.cloud.gcp_secret_manager', key=penpot_secret_ids.smtp_username, project=penpot_gcp_project, auth_kind='serviceaccount', service_account_file=lookup('env','GOOGLE_APPLICATION_CREDENTIALS')) }}
PENPOT_SMTP_PASSWORD={{ lookup('google.cloud.gcp_secret_manager', key=penpot_secret_ids.smtp_password, project=penpot_gcp_project, auth_kind='serviceaccount', service_account_file=lookup('env','GOOGLE_APPLICATION_CREDENTIALS')) }}
PENPOT_SMTP_TLS={{ penpot_smtp_tls | lower }}
PENPOT_SMTP_SSL={{ penpot_smtp_ssl | lower }}

PENPOT_OBJECTS_STORAGE_BACKEND={{ penpot_objects_backend }}
PENPOT_OBJECTS_STORAGE_S3_BUCKET={{ penpot_objects_s3_bucket }}
PENPOT_OBJECTS_STORAGE_S3_REGION={{ penpot_objects_s3_region }}
AWS_ACCESS_KEY_ID={{ lookup('google.cloud.gcp_secret_manager', key=penpot_secret_ids.aws_access_key_id, project=penpot_gcp_project, auth_kind='serviceaccount', service_account_file=lookup('env','GOOGLE_APPLICATION_CREDENTIALS')) }}
AWS_SECRET_ACCESS_KEY={{ lookup('google.cloud.gcp_secret_manager', key=penpot_secret_ids.aws_secret_access_key, project=penpot_gcp_project, auth_kind='serviceaccount', service_account_file=lookup('env','GOOGLE_APPLICATION_CREDENTIALS')) }}

PENPOT_GOOGLE_CLIENT_ID={{ lookup('google.cloud.gcp_secret_manager', key=penpot_secret_ids.google_client_id, project=penpot_gcp_project, auth_kind='serviceaccount', service_account_file=lookup('env','GOOGLE_APPLICATION_CREDENTIALS')) }}
PENPOT_GOOGLE_CLIENT_SECRET={{ lookup('google.cloud.gcp_secret_manager', key=penpot_secret_ids.google_client_secret, project=penpot_gcp_project, auth_kind='serviceaccount', service_account_file=lookup('env','GOOGLE_APPLICATION_CREDENTIALS')) }}